* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw
  
}

.h3 {

 font-family: 'Anton';
 font-size: 14pt;
 color: blue;
 text-align: bottom, left;
 


}

.responsive {
      width: 100%;
    
}


.topnav-header a.topnav-brand,.topnav-header a.topnav-brand:hover,.topnav-header a.topnav-brand:focus {
  display: inline-block;
  padding: 33px 0px 57px;
  

}

.topnav p {
 
  float: left;
  color:blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration-style: wavy;
  font-size: 19px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 3pt;
  text-transform: uppercase;

}


.topnav {
  background-color: white;
  overflow: hidden;
}


.topnav a {
  float: right;
  color: #004875;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Anton', sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  coloR: green;
}

.topnav a.active {
  background-color: #4CAF50;
  color: orange;
}

.hero-text h2 {
  color: #004875;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2;
  font-family: 'Anton';
  letter-spacing: 3px;
  
}
.hero-text h2 span {
  
  color: white;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Anton';
  letter-spacing: 2.5px;
  line-height: 1;
  text-transform: uppercase;
}
.hero-text p {
  color: white;
  font-size: 20px;
  margin: 30px 0 60px;
  letter-spacing: 1.5px;
  font-family: 'Anton';
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
}

.grid-wrapper {
  /* padding: 20px; */
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: 1fr;
  grid-auto-rows: 100vh;
  

}

.about-heading-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color:lightblue;
  font-size: 16pt;
  font-family: Anton;
  text-align: justify;
  color: #004875;
  letter-spacing: 3pt;

}

.about-flex {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: center;
  /* justify-content: center; */
  /* grid-area: about; */
  background-color: rgba(188, 232, 254);
  padding:  5%;
  /* padding-right: 50pt;
  margin: 10pt; */
  
}
.about-text p {
font-family: 'Encode Sans', sans-serif;
font-size: 14pt;
font-weight: 200;
letter-spacing: 1pt;
width: 40%;

}
.about-text p span {

  font-family: 'Encode Sans', sans-serif;
  font-size: 13pt;
  letter-spacing: 1pt;
}

.about-text {
  width: 50%;
  padding: 10pt;
  text-align: justify;
}

.about-img {
padding-left: 20px;


}

.history {
  background-color:  rgba(188, 232, 254);
  grid-column: span 1;
  grid-row: span 1;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.history-heading-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color:lightblue;
  font-size: 14pt;
  font-family: 'Anton';
  text-align: justify;
  color: #004875;
  letter-spacing: 3pt;

}
.history p {

  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
  color: #004875;
  text-align: left;
}

.history h3 {

  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: #004875;
 
  

 

}

.history h4 {
 
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #004875;
  

}
.history h5 { 

  font-size: 30px;
  color: #004875;
  font-family: 'Anton';

 

}

.l-block-spacing {

	
	min-height:80vh;
	padding:2em 0 4em 0;

}

.l-contained {

	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	
	padding-left:1em;
  padding-right:1em;
  
}

	@media all and (min-width:40em) {

		padding-left:2em;
		padding-right:2em;


	}

.timeline-list {

	border-left: 5px solid #ccc;
	padding-bottom: 1em;
	position: relative;
	max-width:700px;
  margin:0 auto;
 
}
  /* &:before {
		content: "";
     border-left: 5px solid #CCC;
     left: -0.25em;
     top: 2em;
     height: 50%;
     position: absolute;


	} */

	/* &:after {
		content: "";
		position: absolute;
		left: -1em;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background:red;
		border: 5px solid #004875;
	} */

.timeline-list li {

	margin:0 0 3em 0;
	padding:0 2em 0em 2em;
    position: relative;

}
.timeline-list li:before {

	content: "";
	position: absolute;
	top: 0px;
	left: -1.45em;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: white;
	border: 5px solid #004875; 
 
}
 .skills-container-wrapper {
  width: 100%;
  background-color: #ddd; 
 font-family: 'Encode Sans Condensed', sans-serif;
 color:#004875;
 padding: 10px;
 text-align: left;


}
.skills {
  padding-top: 10px;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  width: 60%;
}

.skills-flex {
  justify-content: center;
  align-content: space-around;
  padding: 5px;
  color: white;
  flex-wrap: wrap;
}

.skills-text {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  text-align: left;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 14pt;
  color:#004875

  }

.skills-html {width: 70%; background-color: #004875;}
.skills-css {width: 70%; background-color: #004875;}
.skills-js {width: 50%; background-color: #004875;}
.skills-ruby {width: 50%; background-color: blue;}
.skills-rails {width: 50%; background-color: #004875;}
.skills-react {width: 65%; background-color: blue;}
.skills-mongoDb {width: 80%; background-color:#004875;}
.skills-communication {width: 90%; background-color: blue;}
.skills-creativity {width: 90%; background-color: #004875;}

.skills-heading-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color:lightblue;
  font-size: 14pt;
  font-family: 'Anton';
  text-align: justify;
  color: #004875;
  letter-spacing: 3pt;
}

.portfolio-flex {
  grid-area: item4;
  background-color: wheat;
  grid-column: span 1;
  grid-row: span 1;
}

.portfolio-heading-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color:lightblue;
  font-size: 14pt;
  font-family: 'Anton';
  text-align: justify;
  color: #004875;
  letter-spacing: 3pt;
}
.profile-text-flex {
width: 40%;
text-align: right;
font-family: 'Encode Sans Condensed', sans-serif;
font-size: 14pt;

}


.contact-heading-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color:lightblue;
  font-size: 22pt;
  font-weight: bold;
  font-family: 'Anton';
  text-align: justify;
  color: #004875;
  letter-spacing: 3pt;
}

.contact-flex {
  width: 100%;
  display: left;
  padding: 20px;
  line-height: 40px;
  
  margin: 30px;
  flex-wrap: wrap;

  flex-direction: column; /* justify-content: center; */
  /* grid-area: about; */
  background-color: rgba(188, 232, 254);
  /* padding: 0 150px; */
  /* padding-right: 50pt;
  margin: 10pt; */
  
}

.contact-text p {

  display: inline;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 12pt;
  align-content: space-between;
  padding: 20px;
    color: #004875;
    font-weight: 300;
    





  }

.contact h3 {
  display: inline;
  font-family: 'Anton';
  color: #004875;
  font-size: 12pt;
  font-style: bold;
  line-height: 20px;
  padding-bottom: 20px;
  padding-top: 20px;

}

.contact h2 {

  font-family: 'Anton';
  color: #004875;
  font-size: 12pt;
  font-style: bold;


}

.contact-form-flex {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  font-family: 'Encode Sans Condensed', sans-serif;
  line-height: 40px;
  color: #004875;
 font-weight: 200;
  text-align: left;
  background-color: rgba(188, 232, 254);

}

.contact-flex-wrapper {
  display: flex;

}

/* .box {
  display: flex;
  align-items: flex-start;
  text-align: left;
  width: 40%;
  height: auto;
  background-color: wheat;
  position: static; */ 