* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw
}

.h3 {

  font-family: 'Anton';
  font-size: 14pt;
  color: blue;
  text-align: bottom, left;



}

.responsive {
  width: 100%;

}


.topnav-header a.topnav-brand,
.topnav-header a.topnav-brand:hover,
.topnav-header a.topnav-brand:focus {
  display: inline-block;
  padding: 33px 0px 57px;


}

.topnav p {

  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration-style: wavy;
  font-size: 19px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 3pt;
  text-transform: uppercase;

}


.topnav {
  background-color: white;
  overflow: hidden;
}


.topnav a {
  float: right;
  color: #004875;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Anton', sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  coloR: green;
}

.topnav a.active {
  background-color: #4CAF50;
  color: orange;
}

.hero-text h2 {
  color: #004875;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2;
  font-family: 'Anton';
  letter-spacing: 3px;

}

.hero-text h2 span {

  color: white;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Anton';
  letter-spacing: 2.5px;
  line-height: 1;
  text-transform: uppercase;
}

.hero-text p {
  color: white;
  font-size: 20px;
  margin: 30px 0 60px;
  letter-spacing: 1.5px;
  font-family: 'Anton';
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
}

.grid-wrapper {
  /* padding: 20px; */
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: 1fr;
  grid-auto-rows: 100vh;


}

.about-heading-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 16pt;
  font-family: 'Anton';
  text-align: justify;
  color: #004875;
  letter-spacing: 3pt;
  background-color: rgba(188, 232, 254);

}

.about-flex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: aliceblue;

}

.about-text p {

  font-family: 'Encode Sans', sans-serif;
  font-size: 11pt;
  letter-spacing: 1pt;
  color: #004875;

}

.about-text {
  width: 60%;
  font-weight: bold;
  padding: 18pt;
  text-align: justify;
  color: #004875;
  font-family: 'Encode Sans', sans-serif;

}

.about-img {
  padding: 20px;


}

.history {
  background-color: aliceblue;
  grid-column: span 1;
  grid-row: span 1;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.history-heading-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: rgba(188, 232, 254);
  font-size: 14pt;
  font-family: 'Anton';
  text-align: justify;
  color: #004875;
  letter-spacing: 3pt;

}

.history p {

  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  color: #004875;
  text-align: left;
}

.history h3 {

  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 20px;
  font-weight: 50;
  color: #004875;

}

.history h4 {

  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #004875;


}

.history h5 {

  font-size: 22px;
  color: #004875;
  font-family: 'Anton';
  padding-left: 50px;
  padding-top: 20px;

}

.l-block-spacing {


  min-height: 80vh;
  padding: 2em 0 4em 0;

}

.l-contained {

  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 1em;
  padding-right: 1em;

}

@media all and (min-width:40em) {

  padding-left: 2em;
  padding-right: 2em;


}

.timeline-list {

  border-left: 5px solid #004875;
  padding-bottom: 1em;
  position: relative;
  max-width: 700px;
  margin: 0 auto;


}

:before {
  content: "";
  border-left: 5px solid;
  left: -0.25em;
  top: 1.5em;
  position: absolute;


}

.timeline-list li {

  margin: 0 0 3em 0;
  padding: 0 2em 0em 2em;
  position: relative;
  height: 50px;


}

.timeline-list li:before {

  content: "";
  position: absolute;
  top: 0px;
  left: -1.45em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: blue;
  ;
  border: 5px solid #004875;

}

.skills-container-wrapper {
  width: 100%;
  background-color: aliceblue;
  font-family: 'Encode Sans Condensed', sans-serif;
  color: #004875;
  padding: 10px;
  text-align: left;
  font-weight: bold;


}

.skills {
  padding-top: 5px;
  background-color: aliceblue;
}

.skills-container {
  display: flex;
  justify-content: start;
  padding-top: 10px;
  max-width: 100%;
}

.skills-flex {
  /* display: inline; */

  padding: 5px;
  padding-right: 10px;

}

.skills-text {
  display: flex;
  width: 100%;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 20pt;
  font-style: italic;
  font-weight: bold;
  color: #004875;
  line-height: 60px;
  padding-left: 100px;


}

.skills-html {
  width: 70%;
  background-color: blue;
}

.skills-css {
  width: 70%;
  background-color: blue;
}

.skills-js {
  width: 50%;
  background-color: blue;
}

.skills-ruby {
  width: 50%;
  background-color: blue;
}

.skills-rails {
  width: 50%;
  background-color: blue;
}

.skills-react {
  width: 20%;
  background-color: blue;
}

.skills-mongoDb {
  width: 20%;
  background-color: blue;
}

.skills-communication {
  width: 90%;
  background-color: blue;
}

.skills-creativity {
  width: 90%;
  background-color: blue;
}

.skills-heading-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: rgba(188, 232, 254);
  font-size: 14pt;
  font-family: 'Anton';
  text-align: justify;
  color: #004875;
  letter-spacing: 3pt;
}

.portfolio-flex {
  grid-area: item4;
  background-color: aliceblue;
  grid-column: span 1;
  grid-row: span 1;
}

.portfolio-heading-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: rgba(188, 232, 254);
  font-size: 14pt;
  font-family: 'Anton';
  text-align: justify;
  color: #004875;
  letter-spacing: 3pt;
}

.portfolio-text {
  width: 40%;
  text-align: center;
  font-family: 'Anton';
  font-size: 20pt;
  color: #004875;
  background-color: aliceblue;
  width: 100%;
  height: 500px;
  padding-top: 15%;

}


.contact-heading-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: rgba(188, 232, 254);
  font-size: 22pt;
  font-weight: bold;
  font-family: 'Anton';
  text-align: justify;
  color: #004875;
  letter-spacing: 3pt;
}

.contact-flex {
  display: inline;
  width: 100%;
  display: left;
  padding: 15px;
  line-height: 40px;
  background: aliceblue;
  flex-wrap: wrap;

  flex-direction: column;

}

.contact-text p {

  display: inline;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 12pt;
  align-content: space-between;
  padding: 10px;
  color: #004875;
  font-weight: 300;
  background-color: aliceblue;


}

.contact h3 {
  display: inline;
  font-family: 'Anton';
  color: #004875;
  font-size: 12pt;
  font-style: bold;
  line-height: 20px;
  /* padding-bottom: 20px;
  padding-top: 20px; */

}

.contact h2 {

  font-family: 'Anton';
  color: #004875;
  font-size: 12pt;
  font-style: bold;
  padding 20px;


}

.contact-form-flex {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  font-family: 'Encode Sans Condensed', sans-serif;
  line-height: 40px;
  color: #004875;
  font-weight: 200;
  text-align: left;
  background-color: aliceblue;

}

.contact-flex-wrapper {
  display: flex;

}